@charset "UTF-8";
/* line 1, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
body {
  background: #E5E5E5;
}

/* line 3, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.background-header {
  background: #fff;
  width: 100%;
}

/* line 6, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.container {
  width: 100%;
  max-width: 1110px;
}

@media only screen and (max-width: 1000px) and (min-width: 320px) {
  /* line 6, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .container {
    padding: 0;
  }
}

/* line 12, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.nav-link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

/* line 19, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.last-link {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1000px) and (min-width: 320px) {
  /* line 19, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .last-link {
    position: static;
  }
}

/* line 26, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.carouselsportforall {
  position: relative;
}

/* line 28, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.description-slider {
  position: absolute;
  left: 95px;
  top: 72px;
}

@media only screen and (max-width: 1400px) and (min-width: 1280px) {
  /* line 28, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider {
    top: 60px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  /* line 28, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider {
    top: 40px;
    left: 80px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 860px) {
  /* line 28, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider {
    top: 35px;
    left: 60px;
  }
}

@media only screen and (max-width: 860px) and (min-width: 660px) {
  /* line 28, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider {
    top: 20px;
    left: 50px;
  }
}

@media only screen and (max-width: 660px) and (min-width: 560px) {
  /* line 28, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider {
    top: 15px;
    left: 40px;
  }
}

@media only screen and (max-width: 560px) and (min-width: 380px) {
  /* line 28, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider {
    top: 0px;
    left: 30px;
  }
}

@media only screen and (max-width: 380px) and (min-width: 320px) {
  /* line 28, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider {
    left: 25px;
    top: 0;
  }
}

/* line 52, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.description-slider h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 59px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 1400px) and (min-width: 1280px) {
  /* line 52, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider h2 {
    font-size: 42px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  /* line 52, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider h2 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 860px) {
  /* line 52, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider h2 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 860px) and (min-width: 660px) {
  /* line 52, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider h2 {
    font-size: 27px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 660px) and (min-width: 560px) {
  /* line 52, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider h2 {
    font-size: 25px;
    padding-bottom: 8px;
    height: 50px;
  }
}

@media only screen and (max-width: 560px) and (min-width: 380px) {
  /* line 52, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider h2 {
    font-size: 22px;
    padding-bottom: 5px;
    height: 50px;
  }
}

@media only screen and (max-width: 380px) and (min-width: 320px) {
  /* line 52, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider h2 {
    font-size: 20px;
    height: 45px;
  }
}

/* line 78, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.description-slider p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 1400px) and (min-width: 1280px) {
  /* line 78, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider p {
    font-size: 17px;
    padding-bottom: 55px;
  }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
  /* line 78, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider p {
    font-size: 17px;
    padding-bottom: 45px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 860px) {
  /* line 78, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider p {
    font-size: 16px;
    padding-bottom: 30px;
  }
}

@media only screen and (max-width: 860px) and (min-width: 660px) {
  /* line 78, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider p {
    font-size: 15px;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 660px) and (min-width: 560px) {
  /* line 78, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider p {
    font-size: 14px;
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 560px) and (min-width: 380px) {
  /* line 78, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider p {
    font-size: 12px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 380px) and (min-width: 320px) {
  /* line 78, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider p {
    font-size: 10px;
    padding-bottom: 7px;
  }
}

/* line 105, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.description-slider button {
  width: 255px;
  height: 50px;
  background-color: #FF7200;
  border: 0px;
  color: #fff;
  border-radius: 3px;
}

@media only screen and (max-width: 1024px) and (min-width: 860px) {
  /* line 105, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider button {
    width: 220px;
    height: 45px;
  }
}

@media only screen and (max-width: 860px) and (min-width: 660px) {
  /* line 105, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider button {
    width: 180px;
    height: 40px;
    font-size: 16px;
  }
}

@media only screen and (max-width: 660px) and (min-width: 560px) {
  /* line 105, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider button {
    width: 170px;
    height: 35px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 560px) and (min-width: 380px) {
  /* line 105, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider button {
    width: 140px;
    height: 30px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 380px) and (min-width: 320px) {
  /* line 105, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .description-slider button {
    width: 130px;
    height: 27px;
    font-size: 11px;
  }
}

/* line 131, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.customNextBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0px;
  bottom: 0;
  background-color: #FF7200;
  border: 0;
}

/* line 139, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.customNextBtn img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 860px) and (min-width: 660px) {
  /* line 131, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .customNextBtn {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 660px) and (min-width: 560px) {
  /* line 131, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .customNextBtn {
    width: 30px;
    height: 30px;
  }
}

@media only screen and (max-width: 560px) and (min-width: 380px) {
  /* line 131, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .customNextBtn {
    width: 25px;
    height: 25px;
  }
}

@media only screen and (max-width: 380px) and (min-width: 320px) {
  /* line 131, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .customNextBtn {
    width: 20px;
    height: 20px;
  }
}

/* line 154, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.customPrevBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  bottom: 0;
  background-color: #FF7200;
  border: 0;
}

/* line 162, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
.customPrevBtn img {
  width: 100%;
  display: block;
}

@media only screen and (max-width: 860px) and (min-width: 660px) {
  /* line 154, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .customPrevBtn {
    width: 35px;
    height: 35px;
  }
}

@media only screen and (max-width: 660px) and (min-width: 560px) {
  /* line 154, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .customPrevBtn {
    width: 30px;
    height: 30px;
    right: 30px;
  }
}

@media only screen and (max-width: 560px) and (min-width: 380px) {
  /* line 154, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .customPrevBtn {
    width: 25px;
    height: 25px;
    right: 25px;
  }
}

@media only screen and (max-width: 380px) and (min-width: 320px) {
  /* line 154, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
  .customPrevBtn {
    width: 20px;
    height: 20px;
    right: 20px;
  }
}

/* line 180, C:/Users/Коля/Desktop/test/sass/components/firstSection.sass */
button.owl-dot:focus {
  outline: none;
}

/*# sourceMappingURL=../../css/components/firstSection.map */